@charset "utf-8";
/* CSS Document */

* {
  padding: 0px;
  margin: 0px;
  font-family: "Arial","Microsoft YaHei", "微软雅黑", "宋体";
}

html,body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /*font: normal normal 14px/150% Arial, Helvetica, sans-serif;*/
  background-color: #ffffff;
  // height:100%;
  font-size: 62.5%;
}

/***********通用基本类1************/
/*格式化样式*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, a {
  padding: 0px;
  margin: 0px;
}

article, aside, dialog, footer, header, section, footer, nav, figure, menu {
  display: block
}

button, input, optgroup, select, textarea, p, i {
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  color: inherit;
  margin: 0;
}

textarea {
  resize: none;
}

a {
  cursor: pointer;
  color: #333;
}

/*css定义超链接四个状态是有顺序的。*/
a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: none;
  border: none;
}

/*以上语句分别定义了"链接、已访问过的链接、鼠标停在上方时、点下鼠标时"的样式。
注意，必须按以上顺序写，否则显示可能和你预想的不一样。记住它们的顺序是“LVHA”。*/


.zoom {
  zoom: 1
}

img{
  border: 0;
}