body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #1b1d21;
    }
    html:hover span,body:hover span{
        display: none;
    }
    canvas{
        cursor: crosshair;
    }
    span{
        font-family: 'Georgia', cursive;
        font-size: 2em;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top:-40px;
        margin-left: -250px;
        width: 500px;
        color: #fff;
        text-align: center;
}
